html {
    font-size: 12px;
}

body {
    /* background-color: #22313f; */
    background-color: black;
}

* {
    font-family: "Text Me One", sans-serif;
}
/* 
.navbar-nav {
    flex-flow: row nowrap;
} */

.navbar {
    padding: 0;
    /* flex-flow: row nowrap;
    display: inline-flex; */
}

.navbar-light .navbar-toggler {
    border: 1px solid #6bccef;
    background-color: rgba(34, 49, 63, 0.5);
}

.navbar-collapse {
    background-color: rgba(34, 49, 63, 0.5);
    padding: 20px;
}

.navbar-toggler-right {
    top: 1rem;
}
.navbar-toggler-left {
    top: 1rem;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(107, 204, 239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    font-size: 2rem;
    font-weight: bold;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
    color: #6bccef;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #6bccef;
}

.navbar-light .navbar-nav .nav-link > .label {
    padding: 2px 6px;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover > .label {
    background-color: #6bccef;
    color: #22313f;
}

.navbar-light .navbar-nav .nav-link {
    color: #6bccef;
}

/* ============================================================================== */
/* Header */
/* ============================================================================== */

.header {
    position: relative;
    border-bottom: 10px solid #6bccef;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#particles-js {
    height: 100%;
    height: calc(100vh - 10px);
    height: -moz-calc(100vh - 10px);
    height: -webkit-calc(100vh - 10px);
    height: -o-calc(100vh - 10px);
}

.name {
    color: #bfcad1;
    font-size: 5rem;
}

.title {
    color: #6bccef;
    font-size: 2.5rem;
}

#profile-img {
    border: 5px solid #6bccef;
}
.img-responsive {
    width: 100%;
    height: auto;
}

.img-vresponsive {
    width: 50%;
    width: 45vmin;
    height: auto;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.footer {
    background-color: #6bccef;
    color: #22313f;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html {
        font-size: 7px;
    }
}

/* ============================================================================== */
/* About */
/* ============================================================================== */

.section {
    color: #bfcad1;
}

.section .section-heading {
    color: #6bccef;
    padding-top: 20px;
    font-size: 3rem;
    font-weight: bold;
}

.section .section-content {
    padding: 5vmax;
}

.section .section-footer {
    padding-bottom: 20px;
}

.section .subsection-title {
    color: #6bccef;
}

#about .section-content {
    font-size: 1.75rem;
}

hr {
    border: 1px solid #6bccef;
    margin: 1rem 30% 1rem 30%;
}

/* span.tag {
    padding: 2px 5px 2px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    border: 1px solid lightgray;
    display: inline-block;
} */

/* ============================================================================== */
/* Education */
/* ============================================================================== */

.timeline {
    position: relative;
}
.timeline::before {
    content: "";
    background: #c5cae9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 10px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
    content: "";
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
    width: 50px;
    height: 50px;
    /* background: #3f51b5; */
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    margin-left: -25px;
}
.timeline-img .edu-icon {
    position: relative;
    left: 10%;
    top: 20%;
    font-size: xx-large;
}
.timeline-img .work-icon {
    position: relative;
    left: 18%;
    top: 20%;
    font-size: xx-large;
}
.timeline-card {
    padding: 0 !important;
}
.timeline-card p {
    padding: 0 20px;
}
.timeline-card a {
    margin-left: 20px;
}

.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
        url("https://picsum.photos/1000/800/?random") center center no-repeat;
    background-size: cover;
}

.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.timeline-img-header h2 {
    color: #ffffff;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

/* blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3f51b5;
    padding: 0 20px;
} */

.date {
    background: #179be2;
    display: inline-block;
    color: #ffffff;
    padding: 7px;
    width: max-content;
    /* position: absolute; */
    /* top: 0;
    right: 0; */
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
    }
    .timeline .timeline-img {
        left: 50px;
    }
    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
}

/* 
.project {
    position: relative;
    border-bottom: 10px solid #525e64;
    box-shadow: 0px 0px 16px 0px #525e64;
    margin-bottom: 15px;
    height: 16vmax;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 500ms ease-in-out;
}

.project .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(34, 49, 63, 0.8);
    transition: opacity 500ms ease-in-out;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .project .overlay {
        opacity: 1;
    }
}

.project:hover {
    transform: scale(1);
    z-index: 1;
}

.project:hover .overlay {
    opacity: 1;
}

.project .description {
    font-size: 1.3rem;
    color: #bfcad1;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
}
.project .description__subtitle {
    margin-bottom: 8px;
} */
/*
Flip card
*/
/* .card-flip {
    background: none;
    border: none;
    padding: 0;
}
.card-flip .card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(34, 49, 63, 0.8);
}
.card-flip .card:first-of-type {
    transform: rotateY(0deg);
}
.card-flip .card:last-of-type {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: flex;
}
.card-flip:hover .card:first-of-type {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.card-flip:hover .card:last-of-type {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.card-title {
    max-width: 100%;
    font-size: 4vw;
} */

/* ============================================================================== */
/* Timeline 2 */
/* ============================================================================== */
.level {
    margin-bottom: 10px;
    position: relative;
    padding: 5px 0;
}

.level > div {
    display: inline-block;
    box-sizing: border-box;
}

.level .left {
    margin-left: 1%;
    width: calc(49% - 1% - 20px);
    background: #ededed;
    /* position: relative; */
    vertical-align: middle;
    padding: 20px;
    border-radius: 5px;
}

.level .left:after {
    background: #ededed;
    content: "";
    width: 10px;
    height: 10px;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    top: 50%;
    position: absolute;
    left: 100%;
    z-index: 1;
}

.level .right {
    width: calc(49% - 1% - 20px);
    background: #ededed;
    margin-left: calc(2% + 40px);
    position: relative;
    vertical-align: middle;
    padding: 10px;
}

.level .right:after {
    background: #ededed;
    content: "";
    width: 10px;
    height: 10px;
    transform: translateY(-50%) translateX(50%) rotate(45deg);
    top: 50%;
    position: absolute;
    right: 100%;
    z-index: -1;
}

.middle {
    width: 2%;
    background: darkred;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* /////////////////// */
a {
    color: #bfcad1;
}

a:hover {
    color: #6bccef;
    text-decoration: none;
}

a:focus {
    color: #6bccef;
    text-decoration: none;
}

a:active {
    color: #6bccef;
    text-decoration: none;
}
/* /////////////////// */
/* /////////////////// */

.link-cont {
    position: relative;
    /* font-size: 24px; */
}
.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 1px 0;
    /* color: #fff; */
}
.link-wrapper {
    position: relative;
    display: block;
    /* padding: 10px 1px; */
}
.inner-wrapper {
    position: relative;
    display: inline-block;
}

.hover-6:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    height: 3px;
    background-color: #20c2f7;
    background-color: #ffcc00;

    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}
.hover-6:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    height: 3px;
    background-color: #20c2f7;
    background-color: #ffcc00;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.hover-6:hover:before {
    transform: scaleX(1);
}
.hover-6:hover:after {
    transform: scaleX(1);
}

.wrapper-14:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #20c2f7;
    background-color: #ffcc00;

    transform: scaleY(0);
    transition: transform 0.5s;
}
.wrapper-14:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #20c2f7;
    background-color: #ffcc00;

    transform: scaleY(0);
    transition: transform 0.5s;
}
.wrapper-14 .hover-14 {
    padding: 7px;
}
.wrapper-14 .hover-14:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #20c2f7;
    background-color: #ffcc00;

    transform: scaleX(0);
    transition: transform 0.5s;
}
.wrapper-14 .hover-14:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #20c2f7;
    background-color: #ffcc00;

    transform: scaleX(0);
    transition: transform 0.5s;
}
.wrapper-14:hover:before,
.wrapper-14:hover:after {
    transform: scaleY(1);
}
.wrapper-14:hover .hover-14:before,
.wrapper-14:hover .hover-14:after {
    transform: scaleX(1);
}

.wrapper-15:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #37d631;
    background-color: #fff;

    transform: scaleY(0);
    transform-origin: top left;
    transition: transform 0.3s;
}
.wrapper-15:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #37d631;
    background-color: #fff;

    transform: scaleY(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.wrapper-15 .hover-15 {
    padding: 10px;
}
.wrapper-15 .hover-15:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #37d631;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s;
}
.wrapper-15 .hover-15:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #37d631;
    background-color: #fff;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.wrapper-15:hover:before,
.wrapper-15:hover:after {
    transform: scaleY(1);
}
.wrapper-15:hover .hover-15:before,
.wrapper-15:hover .hover-15:after {
    transform: scaleX(1);
}
.wrapper-16:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #ffcc00;
    transform: scaleY(0);
    transform-origin: bottom left;
    transition: transform 0.5s;
}
.wrapper-16:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #ffcc00;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 0.5s;
}
.wrapper-16 .hover-16 {
    padding: 10px;
}
.wrapper-16 .hover-16:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffcc00;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
}
.wrapper-16 .hover-16:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #ffcc00;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s;
}
.wrapper-16:hover:before,
.wrapper-16:hover:after {
    transform: scaleY(1);
}
.wrapper-16:hover .hover-16:before,
.wrapper-16:hover .hover-16:after {
    transform: scaleX(1);
}

.wrapper-19:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #fff;
    transform: scaleY(0);
    transition: transform 0.5s;
}
.wrapper-19:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #fff;
    transform: scaleY(0);
    transition: transform 0.5s;
}
.wrapper-19 .hover-19 {
    padding: 10px;
}
.wrapper-19 .hover-19:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.wrapper-19 .hover-19:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.wrapper-19:hover:before,
.wrapper-19:hover:after {
    transform: scaleY(1);
}
.wrapper-19:hover .hover-19:before,
.wrapper-19:hover .hover-19:after {
    transform: scaleX(1);
}

/* ========================================================================= */
/* =======================================
 */
