.project {
    /* position: relative; */
    perspective: 500px;
    /* margin-left: 10px; */
    margin-bottom: 10px;
    height: 230px;
    width: 32%;
    color: white;
    /* font-size: 24px; */
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card.flip {
    transform: rotateY(180deg);
}
.card figure {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    padding: 20px;
    margin: 0;
}
.card figure.front {
    /* background-image: linear-gradient(#7d3c63, #5b2b48); */
    background-color: #22313f;
}
.card figure.back {
    /* background-image: linear-gradient(#3d259e, #2d1b75); */
    background-color: #22313f;
    transform: rotateY(180deg);
}
.cardhead {
    background-color: #6bccef;
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.5rem;
    font-size: 20px;
    text-align: left;
}
.cardtitle {
    color: white;
    align-items: center;
    margin-top: 10%;
}
.card-skills {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 10px;
}
.cardbtn {
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0;
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: #bbb;
}

.cardbtn:hover {
    background-color: #aaa;
}

/* button styles !!!YOU NEED THEM 
!!!ALSO YOU NEED TO ADD FONTWESOME */
.effect {
    text-align: center;
    /* display: inline-block; */
    font-size: 16px;
    position: absolute;
    width: 120px;
    right: 0;
    bottom: 0;
    border: none;
    color: #000;
    text-transform: capitalize;
    background-color: #6bccef;
    /* background-color: transparent; */
    font-family: "Roboto", sans-serif;
    padding: 10px 10px;
    /* border-radius: 6px; */
    overflow: hidden;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.effect:before {
    content: "\f178"; /*right arrow */
    /* content: "\f177"; left arrow */

    font-family: FontAwesome;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.effect:hover {
    text-indent: -9999px;
}
.effect:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    text-indent: 0;
}
/* ================================= */
.card-data {
    text-align: left;
    font-size: 13px;
    position: relative;
    top: 20px;
}
.tags li {
    float: left;
    background: #f2f2f2;
    padding: 0 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.tags .html {
    border-bottom-color: #e34c26;
}
.tags .css {
    border-bottom-color: #2662e3;
}
.tags .js {
    border-bottom-color: #8cc84b;
}
